body {
    background-color: yellowgreen;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#evil-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 3rem;
    border-radius: 3rem;
    background-color: red;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
}

.evil-face {
    width: 40px;
    height: 40px;
    padding-left: .5rem;
}